
<style>
img {
  width: 10px;
  height: 10px;
}
</style>
<p>
  Products
</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %>
      <%= product.price %>
      <%= link_to "More Info", "products/#{product.pid}" %>
      <%= product.quantity %>
      <img><%= image_tag "#{product.img_file}" %></img>
    </li>
  <% end %>
</ul>
