<div class="corner_nav">
  <ul>
    <li>
      <%= link_to "/" do %>
        <span class="glyphicon glyphicon-home"></span>
      <% end %>
    </li>
    <li>
      <%= link_to "/products" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      <%= image_tag @product.img_file, :class => "product_single_view" %>
    </div>
    <div class="col-md-4">
      <div class="product_title"><h4><%= @product.name %></h4></div>
      <div class="price_title">Price</div>
      <% if @product.discount_price.to_s.empty? %>
        <%= number_to_currency(@product.price.to_i) %>
      <% else %>
        <span class="old">Was: <%= number_to_currency(@product.price.to_i) %></span><br>
        <span class="new">Clearance: <%= number_to_currency(@product.discount_price.to_i) %></span>
      <% end %>
      <div class="description_title">Description</div>
      <div class="description_text"><%= @product.description %></div>
      <div class="dimensions_title">Dimensions</div>
      <div class="dimensions_text">
        Width: <%= @product.dimension_w %><br>
        Length: <%= @product.dimension_l %><br>
        Height: <%= @product.dimension_h %><br>
      </div>
    </div>
  </div>
</div>
