<!DOCTYPE html>
<html>
<head>
  <title>Mallory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Home", :root%>
  <%= link_to "Products", :products %>

  <hr>

  <%= yield %>

</body>
</html>
